body{
font-family: Arial;
background:#eaf3ff;
margin:0;
}

header{
background:#0b4f8a;
color:white;
text-align:center;
padding:20px;
}

.container{
width:800px;
margin:auto;
background:white;
padding:20px;
border-radius:8px;
margin-top:20px;
}

.banner{
width:100%;
border-radius:8px;
margin-bottom:20px;
}

h2{
color:#0b4f8a;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

table, th, td{
border:1px solid #ddd;
}

th{
background:#0b4f8a;
color:white;
padding:10px;
}

td{
padding:10px;
}

tr:nth-child(even){
background:#f2f7ff;
}

input{
width:95%;
padding:8px;
margin-top:10px;
}

button{
background:#0b4f8a;
color:white;
border:none;
padding:8px 15px;
margin-top:10px;
cursor:pointer;
}

button:hover{
background:#08365e;
}

footer{
background:#0b4f8a;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}